/* font */
@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* base */
@layer base {
  @layer base {
    html {
      font-family: "Poppins", sans-serif;
    }
    h1,
    h2,
    h3,
    h4 {
      color: #00a99e;
    }
    p {
      color: #333;
    }
  }
}

/* components */
@layer components {
  .container {
    @apply max-w-7xl mx-auto px-5;
  }
  .btn-blue {
    @apply text-white font-medium py-3.5 px-8 rounded-full;
    background: #00a99e;
  }
  .btn-card {
    @apply bg-[#00A99E] text-white font-medium py-2 px-4 rounded-xl;
  }
  .btn-orange {
    @apply py-2.5 px-6 text-white bg-orange rounded-lg;
  }
  .answers-list {
    @apply flex border-2 border-gray-300 px-3 py-2.5 rounded-lg bg-white;
  }
  .correct-answer {
    @apply border-green;
  }
}

/* other styles */
.forma .input:hover {
  border-color: #00a99e;
}

.forma .input:focus,
.ant-input-affix-wrapper:focus {
  border-color: #00a99e;
  outline-color: #00a99e !important;
}

.forma .input:focus {
  box-shadow: none !important;
}

.ant-input-affix-wrapper {
  box-shadow: none;
}

.ant-btn-primary {
  background: #00a99e;
}

.ant-btn-primary:hover {
  background: #00a99e !important;
}
